{deps, [
{spg,".*",{git,"https://github.com/max-au/spg.git",{ref,""}}},{cowlib,".*",{git,"https://github.com/ninenines/cowlib.git",{ref,""}}}
]}.
{erl_opts, [debug_info,warn_export_vars,warn_shadow_vars,warn_obsolete_guard,report,verbose,warn_deprecated_function,warn_deprecated_type,warn_untyped_record,warn_unused_import,inline_list_funcs]}.
